consumoWCF1/consumoWCF1/Service References/servicioWCF/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfClase2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfClase2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="deportista">
    <xs:sequence>
      <xs:element minOccurs="0" name="apeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deportista" nillable="true" type="tns:deportista" />
</xs:schema>