consumo1/consumo1/Service References/serviceReference1/servicioVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.disciplina.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.disciplina.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicios para clase</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.disciplina.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nombreMetodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nombreMetodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nombreMetodoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaGuardarSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apePaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apeMaterno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="nivel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaGuardarSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deportistaGuardarSPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaActualizarSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apePaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apeMaterno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="nivel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaActualizarSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deportistaActualizarSPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaEliminarSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaEliminarSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deportistaEliminarSPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deprtistaBuscarTodosSP">
        <s:complexType />
      </s:element>
      <s:element name="deprtistaBuscarTodosSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deprtistaBuscarTodosSPResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaBuscarIDSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deportistaBuscarIDSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deportistaBuscarIDSPResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoSoapIn">
    <wsdl:part name="parameters" element="tns:nombreMetodo" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoSoapOut">
    <wsdl:part name="parameters" element="tns:nombreMetodoResponse" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPSoapIn">
    <wsdl:part name="parameters" element="tns:deportistaGuardarSP" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPSoapOut">
    <wsdl:part name="parameters" element="tns:deportistaGuardarSPResponse" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPSoapIn">
    <wsdl:part name="parameters" element="tns:deportistaActualizarSP" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPSoapOut">
    <wsdl:part name="parameters" element="tns:deportistaActualizarSPResponse" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPSoapIn">
    <wsdl:part name="parameters" element="tns:deportistaEliminarSP" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPSoapOut">
    <wsdl:part name="parameters" element="tns:deportistaEliminarSPResponse" />
  </wsdl:message>
  <wsdl:message name="deprtistaBuscarTodosSPSoapIn">
    <wsdl:part name="parameters" element="tns:deprtistaBuscarTodosSP" />
  </wsdl:message>
  <wsdl:message name="deprtistaBuscarTodosSPSoapOut">
    <wsdl:part name="parameters" element="tns:deprtistaBuscarTodosSPResponse" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPSoapIn">
    <wsdl:part name="parameters" element="tns:deportistaBuscarIDSP" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPSoapOut">
    <wsdl:part name="parameters" element="tns:deportistaBuscarIDSPResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoHttpGetIn">
    <wsdl:part name="parametros" type="s:string" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apePaterno" type="s:string" />
    <wsdl:part name="apeMaterno" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="nivel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apePaterno" type="s:string" />
    <wsdl:part name="apeMaterno" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="nivel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deprtistaBuscarTodosSPHttpGetIn" />
  <wsdl:message name="deprtistaBuscarTodosSPHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoHttpPostIn">
    <wsdl:part name="parametros" type="s:string" />
  </wsdl:message>
  <wsdl:message name="nombreMetodoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apePaterno" type="s:string" />
    <wsdl:part name="apeMaterno" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="nivel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaGuardarSPHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apePaterno" type="s:string" />
    <wsdl:part name="apeMaterno" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="nivel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaActualizarSPHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaEliminarSPHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="deprtistaBuscarTodosSPHttpPostIn" />
  <wsdl:message name="deprtistaBuscarTodosSPHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deportistaBuscarIDSPHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="servicioVCSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devolvera un saludo</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <wsdl:input message="tns:nombreMetodoSoapIn" />
      <wsdl:output message="tns:nombreMetodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <wsdl:input message="tns:deportistaGuardarSPSoapIn" />
      <wsdl:output message="tns:deportistaGuardarSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <wsdl:input message="tns:deportistaActualizarSPSoapIn" />
      <wsdl:output message="tns:deportistaActualizarSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <wsdl:input message="tns:deportistaEliminarSPSoapIn" />
      <wsdl:output message="tns:deportistaEliminarSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <wsdl:input message="tns:deprtistaBuscarTodosSPSoapIn" />
      <wsdl:output message="tns:deprtistaBuscarTodosSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <wsdl:input message="tns:deportistaBuscarIDSPSoapIn" />
      <wsdl:output message="tns:deportistaBuscarIDSPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="servicioVCHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devolvera un saludo</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <wsdl:input message="tns:nombreMetodoHttpGetIn" />
      <wsdl:output message="tns:nombreMetodoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <wsdl:input message="tns:deportistaGuardarSPHttpGetIn" />
      <wsdl:output message="tns:deportistaGuardarSPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <wsdl:input message="tns:deportistaActualizarSPHttpGetIn" />
      <wsdl:output message="tns:deportistaActualizarSPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <wsdl:input message="tns:deportistaEliminarSPHttpGetIn" />
      <wsdl:output message="tns:deportistaEliminarSPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <wsdl:input message="tns:deprtistaBuscarTodosSPHttpGetIn" />
      <wsdl:output message="tns:deprtistaBuscarTodosSPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <wsdl:input message="tns:deportistaBuscarIDSPHttpGetIn" />
      <wsdl:output message="tns:deportistaBuscarIDSPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="servicioVCHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devolvera un saludo</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <wsdl:input message="tns:nombreMetodoHttpPostIn" />
      <wsdl:output message="tns:nombreMetodoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <wsdl:input message="tns:deportistaGuardarSPHttpPostIn" />
      <wsdl:output message="tns:deportistaGuardarSPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <wsdl:input message="tns:deportistaActualizarSPHttpPostIn" />
      <wsdl:output message="tns:deportistaActualizarSPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <wsdl:input message="tns:deportistaEliminarSPHttpPostIn" />
      <wsdl:output message="tns:deportistaEliminarSPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <wsdl:input message="tns:deprtistaBuscarTodosSPHttpPostIn" />
      <wsdl:output message="tns:deprtistaBuscarTodosSPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <wsdl:input message="tns:deportistaBuscarIDSPHttpPostIn" />
      <wsdl:output message="tns:deportistaBuscarIDSPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicioVCSoap" type="tns:servicioVCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.disciplina.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <soap:operation soapAction="http://www.disciplina.org/nombreMetodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <soap:operation soapAction="http://www.disciplina.org/deportistaGuardarSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <soap:operation soapAction="http://www.disciplina.org/deportistaActualizarSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <soap:operation soapAction="http://www.disciplina.org/deportistaEliminarSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <soap:operation soapAction="http://www.disciplina.org/deprtistaBuscarTodosSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <soap:operation soapAction="http://www.disciplina.org/deportistaBuscarIDSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicioVCSoap12" type="tns:servicioVCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://www.disciplina.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <soap12:operation soapAction="http://www.disciplina.org/nombreMetodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <soap12:operation soapAction="http://www.disciplina.org/deportistaGuardarSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <soap12:operation soapAction="http://www.disciplina.org/deportistaActualizarSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <soap12:operation soapAction="http://www.disciplina.org/deportistaEliminarSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <soap12:operation soapAction="http://www.disciplina.org/deprtistaBuscarTodosSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <soap12:operation soapAction="http://www.disciplina.org/deportistaBuscarIDSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicioVCHttpGet" type="tns:servicioVCHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <http:operation location="/nombreMetodo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <http:operation location="/deportistaGuardarSP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <http:operation location="/deportistaActualizarSP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <http:operation location="/deportistaEliminarSP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <http:operation location="/deprtistaBuscarTodosSP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <http:operation location="/deportistaBuscarIDSP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicioVCHttpPost" type="tns:servicioVCHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombreMetodo">
      <http:operation location="/nombreMetodo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaGuardarSP">
      <http:operation location="/deportistaGuardarSP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaActualizarSP">
      <http:operation location="/deportistaActualizarSP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaEliminarSP">
      <http:operation location="/deportistaEliminarSP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprtistaBuscarTodosSP">
      <http:operation location="/deprtistaBuscarTodosSP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deportistaBuscarIDSP">
      <http:operation location="/deportistaBuscarIDSP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicioVC">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicios para clase</wsdl:documentation>
    <wsdl:port name="servicioVCSoap" binding="tns:servicioVCSoap">
      <soap:address location="http://172.17.231.103:81/servicioVC.asmx" />
    </wsdl:port>
    <wsdl:port name="servicioVCSoap12" binding="tns:servicioVCSoap12">
      <soap12:address location="http://172.17.231.103:81/servicioVC.asmx" />
    </wsdl:port>
    <wsdl:port name="servicioVCHttpGet" binding="tns:servicioVCHttpGet">
      <http:address location="http://172.17.231.103:81/servicioVC.asmx" />
    </wsdl:port>
    <wsdl:port name="servicioVCHttpPost" binding="tns:servicioVCHttpPost">
      <http:address location="http://172.17.231.103:81/servicioVC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>